#canvasId{
    position: relative;
    margin: auto;
    display: block;
    width: 70%;
    height: 70%;
    /* left: 0;
    right: 0; */
    background: white;
    border: 10px solid grey;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

  }
  
  .button{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color:#1414ba;
    border-radius:5px; 
    color: #fff;
    border:none; 
    padding: 10px;
    min-height:30px; 
    min-width: 120px;
  }
  .button:hover {
    background-color:#000000;
    transition: 0.5s;
}

